if contactInfo
	.main-info__column.main-info__column-left
		hgroup.main-info__titles
			h1.main-info__title!= contactInfo.name 
			h2.main-info__subtitle!= contactInfo.subtitle 
		if contactInfo.items
			dl.main-info__list
				each item, i in contactInfo.items
					.main-info__item
						dt.main-info__label #{item.key}:
						dd.main-info__value!= item.value
		.main-info__links
			include ../sources/sources

.main-info__column.main-info__column-right
	if contactInfo.mainPhoto
		.main-info__photo-container
			img.main-info__photo(src=contactInfo.mainPhoto alt="")